<div class="base-wrapper">
    <div class="base">
        <div class="matrix">
            <confusion-matrix [(confusionMatrix)]="confusionMatrix" [(levelsColor)]="colors" [(title)]="matrixTitle"
                [(zoom)]="zoom"></confusion-matrix>
            <statistics [confusionMatrix]="confusionMatrix" (confusionMatrixChange)="changeConfusionMatrix($event)">
            </statistics>
        </div>

        <div class="settings">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput #titleElement (keyup)="changeTitle($event)" placeholder="Ex: An awesome title!"
                    value="{{matrixTitle}}">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Labels</mat-label>
                <input matInput #labelElement (keyup)="changeLabels()" placeholder="Ex: An awesome title!"
                    value="{{confusionMatrix.labels | json}}">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Values</mat-label>
                <input matInput #valuesElement (keyup)="changeValues()" placeholder="Ex: An awesome title!"
                    value="{{confusionMatrix.matrix | json}}">
            </mat-form-field>
            <normalization [confusionMatrix]="confusionMatrix" (confusionMatrixChange)="changeConfusionMatrix($event)">
            </normalization>
            <mat-slider min="0.2" max="2" step="0.1" [(ngModel)]="zoom"></mat-slider>
            <color-intensity-picker [(colors)]="colors"></color-intensity-picker>
        </div>
    </div>
</div>