.base-wrapper {
    display: flex;
    justify-content: center;
    padding: 30px;

    .base {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        max-width: 1000px;


        .matrix {
            display: flex;
            align-items: center;
        }

        .settings {
            display: flex;
            flex-direction: column;
        }


    }
}