<div class="base-wrapper">
    <div class="base">
        <div class="matrix">
            <confusion-matrix [confusionMatrix]="confusionMatrix" [levelsColor]="colors" [title]="matrixTitle"
                [size]="size"></confusion-matrix>
            <statistics [confusionMatrix]="confusionMatrix" (confusionMatrixChange)="changeConfusionMatrix($event)">
            </statistics>
        </div>

        <div class="settings">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput #titleElement (keyup)="changeTitle($event)" placeholder="Ex: An awesome title!"
                    value="{{matrixTitle}}">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Labels</mat-label>
                <input matInput #labelElement (keyup)="changeLabels()" placeholder="Ex: An awesome title!"
                    value="{{confusionMatrix.labels | json}}">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Values</mat-label>
                <input matInput #valuesElement (keyup)="changeValues()" placeholder="Ex: An awesome title!"
                    value="{{confusionMatrix.matrix | json}}">
            </mat-form-field>
            <normalization [confusionMatrix]="confusionMatrix" (confusionMatrixChange)="changeConfusionMatrix($event)">
            </normalization>
            <mat-form-field appearance="fill">
                <mat-label>Matrix Size</mat-label>
                <mat-select (selectionChange)="selectionChange($event)" ([value])="size">
                    <mat-option *ngFor="let s of sizes" [value]="s">
                        {{s}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <color-intensity-picker [(colors)]="colors"></color-intensity-picker>
        </div>
    </div>
</div>