.base-wrapper {
    display: flex;
    justify-content: center;
    padding: 30px;

    .base {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        max-width: 1000px;
        box-shadow: 3px 3px 75px -36px #44000052;
        border-radius: 16px;
        background: white;

        .matrix {
            display: flex;
            align-items: center;
        }

        .settings {
            display: flex;
            flex-direction: column;
        }


    }
}