<div class="wrapper">
    <div class='main-message'>
        <div class="background"></div>
        <div class="background-2"></div>
        <div class="icon">
            <img src="../../../assets/icon.png" />
        </div>
        <h1>Confusion Matrix</h1>
        <h3>An awesome multi-class confusion matrix library and online editor</h3>
        <div class='buttons'>
            <custom-button [text]="'Github'" [backgroundColor]="'white'" [fontColor]="'black'"
                (click)="redirectToGitHub()">
            </custom-button>
            <custom-button [text]="'Documentation'" [backgroundColor]="'white'" [fontColor]="'black'"
                routerLink="documentation">
            </custom-button>
            <custom-button [text]="'Try it out!'" [backgroundColor]="'white'" [fontColor]="'black'" routerLink="editor">
            </custom-button>
        </div>
    </div>
    <home-page-line [icon]="'✏️'" [topDescription]="'Don\'t like what you are seeing?'"
        [title]="'Add, remove and edit the confusion matrix as you want!'"
        [downDescription]="'You can also move lines as well!'" [backgroundColor]="'#ffc967'"
        [videoLocation]="'../../../assets/videos/edit.mp4'">
    </home-page-line>
    <home-page-line [icon]="'📊'" [topDescription]="'If there was a simple way to know the accuracy...'"
        [title]="'See different confusion matrix metrics!'"
        [downDescription]="'Obtain accuracy, precision, f1score and more!'"
        [videoLocation]="'../../../assets/videos/metrics-video.mp4'" [backgroundColor]="'#ff5722'" [rightToLeft]="true">
    </home-page-line>
    <home-page-line [icon]="'↩️↪️'" [topDescription]="'Ups! Made a mistake...'"
        [title]="'Undo and redo through edition history!'" [downDescription]="'Not afraid of making mistakes anymore!'"
        [videoLocation]="'../../../assets/videos/undo-redo-video.mp4'" [backgroundColor]="'#3f51b5'"
        [rightToLeft]="false">
    </home-page-line>
    <home-page-line [icon]="'💾'" [topDescription]="'I\'m in a hurry...'"
        [title]="'Save and import different confusion matrix!'" [downDescription]="'I will save this!'"
        [backgroundColor]="'#4caf50'" [videoLocation]="'../../../assets/videos/save-import-video.mp4'"
        [rightToLeft]="true">
    </home-page-line>
    <home-page-line [icon]="'🔍'" [topDescription]="'I can\'t read properly...'"
        [title]="'Zoom in and out as you want!'" [gifLocation]="'../../../assets/gifs/edit.gif'"
        [backgroundColor]="'#2196f3'" [rightToLeft]="false">
    </home-page-line>
    <home-page-line [icon]="'🧭'" [topDescription]="'This range of values should be different...'"
        [title]="'Normalize the values of you matrix!'" [backgroundColor]="'#607d8b'"
        [gifLocation]="'../../../assets/gifs/edit.gif'" [rightToLeft]="true">
    </home-page-line>
    <home-page-line [icon]="'📚'" [topDescription]="'It would be awesome use this features in my website...'"
        [title]="'Integrate it in your website!'" [downDescription]="'You can use it as a library!'"
        [backgroundColor]="'#795548'" [gifLocation]="'../../../assets/gifs/edit.gif'" [rightToLeft]="false">
    </home-page-line>
    <div class="credits">
        <div class="background"></div>
        <div class="icon">
            <img src="../../../assets/icon.png" />
        </div>
        <div class="description">
            <div class="author">Ricardo Rocha</div>
            <div class="organization">FullExpression</div>
            <div class="version">Version: {{appVersion}}</div>
        </div>

    </div>
</div>