.wrapper {


    color: white;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #ff8f00;

    .main-message {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        position: relative;
        justify-content: center;
        text-align: center;
        padding: 20px;

        .icon {
            animation: confusion-matrix-icon 5s ease infinite;

            img {
                width: 80px;
                height: 80px;
                filter: brightness(0) invert(1);
            }
        }

        .buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            custom-button {
                margin: 10px;
            }

        }

        .background {
            position: absolute;
            top: -114px;
            left: 0;
            width: calc(100%);
            height: 100%;
            background-color: #ff8f00;
            z-index: -1;
            background: linear-gradient(200deg, #ff8f00, #ffc157);
            background-size: 400% 400%;
            animation: BackgroundAnimation 3s ease infinite;
        }

        .background-2 {
            position: absolute;
            top: 114px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ff8f00;
            z-index: -1;
            transform: skewY(-13deg);
            background: linear-gradient(200deg, #ff8f00, #ffc157);
            background-size: 400% 400%;
            animation: BackgroundAnimation 3s ease infinite;
        }
    }

    .credits {
        color: white;
        height: 25vw;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -12%;
        min-height: 160px;
        position: relative;

        .background {
            position: absolute;
            width: 100%;
            height: 100%;
            transform: skewY(-13deg);
            background-color: #ff8f00;
            z-index: -1;
        }

        .icon {
            animation: credits-matrix-icon 5s ease infinite;
            margin-top: calc(13% + 2px);

            img {
                width: 45px;
                height: 45px;
                filter: brightness(0) invert(1);
            }
        }

        .description {
            display: flex;
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            font-size: 11px;
            padding-top: 13%;

            .version {
                font-weight: bolder;
                font-size: 14px;
                height: 15px;
                margin-top: 4px;
            }

            div {
                height: 12px;

            }
        }
    }
}



@keyframes confusion-matrix-icon {
    0% {
        opacity: 0.6;
        transform: rotate(0deg) scale(0.6);
    }

    25% {
        opacity: 0.8;
        transform: rotate(90deg) scale(0.7);
    }

    50% {
        opacity: 1;
        transform: rotate(180deg) scale(0.8);
    }

    100% {
        opacity: 0.6;
        transform: rotate(360deg) scale(0.6);

    }
}


@keyframes credits-matrix-icon {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        opacity: 1;
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);

    }
}

@keyframes BackgroundAnimation {
    0% {
        background-position: 58% 0%
    }

    50% {
        background-position: 43% 100%
    }

    100% {
        background-position: 58% 0%
    }
}