<div class="wrapper">
    <div class='main-message'>
        <h1>Confusion Matrix</h1>
        <h3>An awesome multi-class confusion matrix library and online editor</h3>
        <div>
            <div>
                <custom-button [text]="'Github'" [backgroundColor]="'white'" [fontColor]="'black'"></custom-button>
            </div>
            <div>
                <custom-button [text]="'Documentation'" [backgroundColor]="'white'" [fontColor]="'black'">
                </custom-button>
            </div>
            <div>
                <custom-button [text]="'Try it out!'" [backgroundColor]="'white'" [fontColor]="'black'">
                </custom-button>
            </div>
        </div>
    </div>
</div>