<div class="wrapper">
    <div class='main-message'>
        <div class="background"></div>
        <div class="background-2"></div>
        <div class="icon">
            <img src="../../../assets/icon.png" />
        </div>
        <h1>Confusion Matrix</h1>
        <h3>An awesome multi-class confusion matrix library and online editor</h3>
        <div class='buttons'>
            <custom-button [text]="'Github'" [backgroundColor]="'white'" [fontColor]="'black'"></custom-button>
            <custom-button [text]="'Documentation'" [backgroundColor]="'white'" [fontColor]="'black'">
            </custom-button>
            <custom-button [text]="'Try it out!'" [backgroundColor]="'white'" [fontColor]="'black'">
            </custom-button>
        </div>
    </div>
    <div class='edit-message'>
        <div class="background"></div>
        <div class="background-2"></div>
        <div class="description">
            <h1 class="first-line">Don't liking what you are seeing?</h1>
            <h1 class="second-line">Add, remove and edit the matrix as you want!</h1>
            <h1 class="third-line">You can also move lines as well!</h1>
        </div>

        <div class='edit-gif'>
            <img src='../../../assets/gifs/edit.gif'>
        </div>
    </div>
    <!-- <div class='metrics-message'>
        <h1>See different confusion matrix metrics!</h1>
    </div> -->
    <!-- <div class='mistakes-message'>
        <h1>Mistakes happens! Undo and redo throw the edition history</h1>
        <h1>//Add, delete, move columns</h1>
    </div>
    <div class='save-message'>
        <h1>Save and import your confusion matrix</h1>
        <h1>//Add, delete, move columns</h1>
    </div>
    <div class='zoom-message'>
        <h1>Text to small or to large? Zoom in and zoom out as you want!</h1>
        <h1></h1>
    </div>
    <div class='normalize-message'>
        <h1>The interval numbers not fit your needs? Normalize it!</h1>
        <h1></h1>
    </div>
    <div class='integrate-message'>
        <h1>Want to integrate in your website?</h1>
        <h1></h1>
    </div> -->
</div>