.wrapper {


    color: white;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .main-message {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        position: relative;
        justify-content: center;
        text-align: center;
        padding: 20px;

        .icon {
            animation: icon 5s ease infinite;

            img {
                width: 80px;
                height: 80px;
                filter: brightness(0) invert(1);
            }
        }

        .buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            custom-button {
                margin: 10px;
            }

        }

        .background {
            position: absolute;
            top: -114px;
            left: 0;
            width: calc(100%);
            height: 100%;
            background-color: #ff8f00;
            z-index: -1;
            background: linear-gradient(200deg, #ff8f00, #ffc157);
            background-size: 400% 400%;
            animation: AnimationName 3s ease infinite;
        }

        .background-2 {
            position: absolute;
            top: 114px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ff8f00;
            z-index: -1;
            transform: skewY(-13deg);
            background: linear-gradient(200deg, #ff8f00, #ffc157);
            background-size: 400% 400%;
            animation: AnimationName 3s ease infinite;
        }
    }

    .edit-message {
        height: 100%;
    }

    .metrics-message {
        color: white;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
        top: 170px;

        .background {
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #af4f00;
            z-index: -1;
            transform: skewY(13deg);

        }

        .background-2 {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #af4f00;
            z-index: -1;
            transform: skewY(-13deg);
            top: 40%;
        }

    }
}

@keyframes edit-icon {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(0.9);
    }

    100% {
        transform: rotate(360deg) scale(1);

    }
}

@keyframes icon {
    0% {
        opacity: 0.6;
        transform: rotate(0deg) scale(0.6);
    }

    25% {
        opacity: 0.8;
        transform: rotate(90deg) scale(0.7);
    }

    50% {
        opacity: 1;
        transform: rotate(180deg) scale(0.8);
    }

    100% {
        opacity: 0.6;
        transform: rotate(360deg) scale(0.6);

    }
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 58% 0%
    }

    50% {
        background-position: 43% 100%
    }

    100% {
        background-position: 58% 0%
    }
}


@keyframes AnimationName {
    0% {
        background-position: 58% 0%
    }

    50% {
        background-position: 43% 100%
    }

    100% {
        background-position: 58% 0%
    }
}