.statistics {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media(max-width: 800px) {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    &>statistic {
        padding: 10px;
    }

}