<div class="statistics">
    <statistic [title]="'Weighted Precision (Happiness):'" [value]="getPrecisionForHappiness()"
        [style]="statisticStyleStrong"></statistic>
    <statistic [title]="'Accuracy:'" [value]="confusionMatrix.accuracy()"></statistic>
    <statistic [title]="'F1Score (Macro):'" [value]="getMacroF1Score()" [style]="statisticStyleGray">
    </statistic>
    <statistic [title]="'Number of predictions'" [value]="getMacroF1Score()" [style]="statisticStyleRound">
    </statistic>
</div>