<div class='top-bar' [class.home]="isHomeActive()">
    <a routerLink="" class='icon'>
        <img src='../../../assets/icon.png' />
        <label>Confusion Matrix</label>
    </a>
    <div class="right-side">
        <a class='documentation' routerLink="documentation">Documentation</a>
        <a class='github'
            href='https://github.com/FullExpression/confusion-matrix/tree/master/projects/confusion-matrix'
            target="_blank">Github</a>
        <a class='editor' routerLink="/editor">Try out!</a>
    </div>
</div>