.top-bar {

    background: linear-gradient(108deg, rgb(252 176 69 / 2%) 0%, rgb(255 0 0 / 3%) 49%, rgb(252 176 69 / 2%) 100%);
    height: 40px;
    display: flex;
    box-shadow: -6px -7px 34px 0px rgb(220 67 67 / 20%);
    width: 100%;
    border-bottom: 1px solid #ffe3e0;
    justify-content: space-between;
    padding: 7px 14px;
    position: relative;

    &.home {
        border: 0px;
        box-shadow: none;
        background: transparent;

        .editor {
            color: black !important;
        }

        .icon {
            color: white;

            img {
                filter: brightness(0) invert(1);
            }
        }

        .right-side {
            a {
                color: white;
            }

        }
    }

    a {
        text-decoration: none;
        padding-left: 12px;

        :hover {
            border-bottom: 1px solid #c56b51;
            transition: width .5s ease, background-color .5s ease;
        }
    }

    .icon {
        display: flex;
        align-items: center;
        color: #c56b51;

        img {
            height: 27px;
            padding-right: 10px;

            &:hover {
                border-bottom: none;
            }
        }

        label {
            @media(max-width: 800px) {
                display: none;
            }

            cursor: pointer;
        }
    }

    .right-side {
        display: flex;
        align-items: center;

        a {
            color: #c56b51;
        }

        .editor {
            border-radius: 100px;
            background-color: white;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 11px;
            box-shadow: rgb(0 0 0 / 56%) 1px 1px 6px -2px;
            transition: 0.1s all;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}