.normalization {
    margin-bottom: 10px;

    .min-max {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "min-element max-element"
            "message message";

        .min {
            margin-right: 10px;
            grid-area: min-element;
        }

        .max {
            margin-left: 10px;
            grid-area: max-element;
        }

        .error-message {
            grid-area: message;
            color: #e74c3c;
        }
    }
}