:host {
    width: 100%;
    height: 100%;


    .line-wrapper {
        color: white;
        height: 150%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 20px;



        .description-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;

            &.right-to-left {
                flex-direction: row-reverse;
            }
        }

        .description {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-left: 30px;
            padding-right: 30px;
            align-items: center;

            justify-content: center;

            .icon {
                animation: icon 3s ease infinite;
                margin: 10px;
                font-size: 50px;
                margin: 10px;
                font-size: 36px;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;

            }

            h1 {
                margin: 0;
                font-size: 28px;

            }

            .first-line,
            .third-line {
                font-size: 20px;
            }

            .second-line {
                font-weight: bolder;
            }
        }

        .background {
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ffd384;
            z-index: -1;
            transform: skewY(-13deg);

        }

        .gif {
            display: flex;
            max-width: 500px;
            margin: 30px;

            img {
                border-radius: 100%;
                width: 100%;
                box-shadow: 3px 3px 75px -36px #000;
            }
        }

        .video {
            display: flex;
            max-width: 500px;
            margin: 30px;

            video {
                border-radius: 100%;
                width: 100%;
                box-shadow: 3px 3px 75px -36px #000;
            }
        }
    }
}


@keyframes icon {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(0.9);
    }

    100% {
        transform: rotate(360deg) scale(1);

    }
}